@page
@model CustomerCarePortalLab.Pages.Tickets.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ticket.Email" class="control-label"></label>
                <input asp-for="Ticket.Email" class="form-control" />
                <span asp-validation-for="Ticket.Email" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="Ticket.Comments" class="control-label"></label>
                <input asp-for="Ticket.Comments" class="form-control" />
                <span asp-validation-for="Ticket.Comments" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label class="form-control">How can we help You?</label>
                 <textarea class="display-4"></textarea>
                 <br />
            </div>
            <div class="form-group">
                <label asp-for="Ticket.TicketType" class="control-label"></label>
                <select asp-for="Ticket.TicketType" class="form-control" asp-items="@Html.GetEnumSelectList<Models.Types>()"></select>
                <span asp-validation-for="Ticket.TicketType" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="Ticket.TicketStatus" class="control-label"></label>
                <select asp-for="Ticket.TicketStatus" class="form-control"></select>
                <span asp-validation-for="Ticket.TicketStatus" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ticket.Allocated" /> @Html.DisplayNameFor(model => model.Ticket.Allocated)
                </label>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-page="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
